service: <%= ENV['PROJECT_NAME'] %>-alexplain

deploy_timeout: 60

image: <%= ENV['DOCKER_HUB_USERNAME'] %>/<%= ENV['PROJECT_NAME'] %>-alexplain

servers:
  web:
    - "<%= ENV['SERVER_IP'].strip %>"

ssh:
  user: root
  keys: ["<%= ENV['SSH_PRIVATE_KEY_FILE'] %>"]

registry:
  username: <%= ENV['DOCKER_HUB_USERNAME'] %>
  password:
    - DOCKER_HUB_TOKEN

builder:
  dockerfile: alexplain/Dockerfile
  context: alexplain
  arch: amd64
  cache:
    type: registry

proxy:
  ssl: true
  host: <%= ENV['HOST_NAME'] %>
  app_port: 80
  healthcheck:
    path: /
