service: <%= ENV['PROJECT_NAME'] %>-art

image: <%= ENV['DOCKER_HUB_USERNAME'] %>/<%= ENV['PROJECT_NAME'] %>-art

servers:
  web:
    - "<%= ENV['SERVER_IP'].strip %>"

ssh:
  user: root
  keys: ["<%= ENV['SSH_PRIVATE_KEY_FILE'] %>"]

registry:
  username: <%= ENV['DOCKER_HUB_USERNAME'] %>
  password:
    - DOCKER_HUB_TOKEN

builder:
  dockerfile: ts/apps/art/Dockerfile
  context: "."
  arch: amd64
  cache:
    type: registry

# Volumes for ISR cache persistence
volumes:
  - "/var/lib/kamal-volumes/<%= ENV['PROJECT_NAME'] %>-art/cache:/app/apps/next/.next/cache"

env:
  clear:
    BASE_URL: https://<%= ENV.fetch('HOST_NAME', '') %>
    NODE_ENV: production

proxy:
  ssl: true
  host: <%= ENV['HOST_NAME'] %>
  app_port: 3001
  healthcheck:
    path: /
