service: <%= ENV['PROJECT_NAME'] %>-jax

image: <%= ENV['DOCKER_HUB_USERNAME'] %>/<%= ENV['PROJECT_NAME'] %>-jax

servers:
  web:
    - "<%= ENV['SERVER_IP'].strip %>"

ssh:
  user: root
  keys: ["<%= ENV['SSH_PRIVATE_KEY_FILE'] %>"]

registry:
  username: <%= ENV['DOCKER_HUB_USERNAME'] %>
  password:
    - DOCKER_HUB_TOKEN

builder:
  dockerfile: jax/Dockerfile
  context: "."
  arch: amd64
  cache:
    type: registry

# Volumes for persistent node configuration and data
volumes:
  - "/var/lib/kamal-volumes/<%= ENV['PROJECT_NAME'] %>-jax/node:/data/node"

env:
  clear:
    CONFIG_PATH: /data/node/.jax
    API_ADDR: 0.0.0.0:3000
    HTML_ADDR: 0.0.0.0:8080
    PEER_PORT: "9000"

proxy:
  ssl: true
  host: <%= ENV['HOST_NAME'] %>
  app_port: 8080
  healthcheck:
    path: /_status/livez
    interval: 15
    max_attempts: 15
